<template>
    
        <div v-if="categoriesDelete != ''" class="col-sm">
           
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th scope="col">Nombre español</th>
                        <th scope="col">Nombre Ingles</th>
                        <th scope="col">Imagen</th>
                        <th colspan="2">
                            &nbsp;
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="category in categoriesDelete">
                        <td v-text="category.aliasEs"></td>
                        <td v-text="category.aliasEn"></td>
                        <td> 
                            <div class="avatar img-fluid img-circle" style="margin-top:10px">
                                <img :src="urlImage+category.imagen" class="img-responsive" height="90" width="50">
                            </div>
                        </td>
                        <td width="10px">
                            <a href="#" class="btn btn-primary btn-sm" v-on:click.prevent="restoreCategory(category)">Restaurar</a>
                        </td>
                    </tr>
                </tbody>
            </table>

            <nav>
                <ul class="nav nav-tabs">
                    <li class="nav-item" v-if="pagination.current_page > 1">
                        <a class="nav-link" href="#" @click.prevent="changePage(pagination.current_page - 1)">
                            <span>Atras</span>
                        </a>
                    </li>

                    <li class="nav-item" v-for="page in pagesNumber" v-bind:class="[ page == isActived ? 'active' : '']">
                        <a class="nav-link" href="#" @click.prevent="changePage(page)">
                            {{ page }}
                        </a>
                    </li>

                    <li class="nav-item" v-if="pagination.current_page < pagination.total_pages">
                        <a class="nav-link" href="#" @click.prevent="changePage(pagination.current_page + 1)">
                            <span>Siguiente</span>
                        </a>
                    </li>
                </ul>
            </nav>

            
        </div>

         <div v-else-if="categoriesDelete == ''" class="row mt-5 justify-content-center">
            <h2> No hay registros eliminados</h2>

        </div>
    
</template>

<script>
export default {
    created: function() {
        this.getDeleteCategories();
    },
    data() {
        return {
            category: [],
            categoriesDelete:[],
            pagination: {
            'total': 0,
            'count': 0,
            'per_page': 0,
            'current_page': 0,
            'total_pages': 0,
            },
            aliasEs:'',
            aliasEn:'',
            imagen: null,
            errors: [],
            url: process.env.MIX_APP_URL,
            urlImage: process.env.MIX_URL_IMAGE,
            offset: 2

        }
        
    },

    computed: {
        isActived: function (){
            return this.pagination.current_page;
        },
        pagesNumber: function(){
            if(!this.pagination.total_pages){
                return [];
            }
            //offset compensamos para que antes y despues haya la misma cantidad
            var from = this.pagination.current_page - this.offset;
            
            if (from < 1) {
                from = 1;
            }

            var to = from + (this.offset * 2);

            if(to >= this.pagination.total_pages){
                to = this.pagination.total_pages;
            }

            var pagesArray = [];
            while (from <= to ){
                pagesArray.push(from);
                from++;
            }

            return pagesArray;


        }

    },


    methods: {

        changePage: function(page){
            this.pagination.current_page = page;
            this.getDeleteCategories(page);
        },


        getDeleteCategories: function(page) {
            var urlCategories = this.url+'categoriesListD?page='+page;
            axios.get(urlCategories).then(response => {
                this.categoriesDelete = response.data.data,
                this.pagination = response.data.meta.pagination
                }).catch(function (error) {
                    this.errors = error.response.data;
                    toastr.error("Error");
                });
        
        },

        restoreCategory: function(category) {
            
            let urlRestore = this.url+'categoriesRestoreD/'+ category.identificador

            axios.get(urlRestore).then(response => {
                    this.getDeleteCategories()
                    Swal.fire({
                      position: 'top-end',
                      icon: 'success',
                      title: 'La categoria ha sido restaurada',
                      showConfirmButton: false,
                      timer: 2000
                    })
            }).catch(function (error) {
                console.log(error);
                    Swal.fire({
                      icon: 'error',
                      title: 'Vaya ...',
                      text: '¡Algo salió mal!',
                      footer: 'Vuelva a intentarlo'
                    })
            });
              
            
        },
    }
}

</script>
