<template>

    
    <div class="container container-task">
        <div class="row">
            
            <div class="card bg-light col-md-4">
                
                <div class="card-header">Agregar Categoria</div>
                <form>
                    <div class="form-group"><!-- Formulario para la creación o modificación de nuestras tareas-->
                        <label>Nombre Español</label>
                        <input v-model="form.aliasEs" :class="{'is-invalid' : form.errors.has('aliasEs')}" type="text" class="form-control form-control-lg"  @keydown="form.errors.clear('aliasEs')">
                        <span v-if="form.errors.has('aliasEs')" v-text= "form.errors.get('aliasEs')" class="text-danger"></span>
                        <br>

                        <label>Nombre Ingles</label>
                        <input v-model="form.aliasEn" :class="{'is-invalid' : form.errors.has('aliasEn')}" type="text" class="form-control form-control-lg"  @keydown="form.errors.clear('aliasEn')">
                        <span v-if="form.errors.has('aliasEn')" v-text= "form.errors.get('aliasEn')" class="text-danger"></span>

                    </div>

                    <div class="form-group">
                        <label>Imagen</label>
                        <br>
                        <input type="file" name="image" @change="getImage" class="form-control" accept="image/*">
                        <br>
                        <img :src="urlImage+form.imagen" class="img-responsive" height="70" width="90">
                        <span v-if="form.errors.has('imagen')" v-text= "form.errors.get('imagen')" class="text-danger"></span>
                    </div>
                    
                    <div class="form-group">
                        <div class="container-buttons">
                            <!-- Botón que añade los datos del formulario, solo se muestra si la variable update es igual a 0-->

                            <button v-if="form.identificador == 0" type="submit" @click.stop.prevent="createCategory()" class="btn btn-success">Añadir
                                <i class="fa fa-plus-square blue"></i>
                            </button>

                            <!-- Botón que modifica la tarea que anteriormente hemos seleccionado, solo se muestra si la variable update es diferente a 0-->

                            <button v-if="form.identificador != 0" type="submit" @click.stop.prevent="updateCategory()" class="btn btn-success">Actualizar <i class="fa fa-edit" aria-hidden="true"></i></button>
                            <!-- Botón que limpia el formulario y inicializa la variable a 0, solo se muestra si la variable update es diferente a 0-->
                            <button v-if="form.identificador != 0" @click.stop.prevent="clearFields()" class="btn btn-danger">Cancelar <i class="fa fa-window-close" aria-hidden="true"></i></button>
                        </div>
                    </div>
                    
                </form>
            </div>

            <div class="card bg-light col-md-8">
                <div>
                    <router-link :to="{name: 'categorias-eliminadas'}" type="button" class="btn btn-info float-right">Ver Eliminados</router-link>
                </div>
                <div class="card-header">Lista de Categorias</div>
                <div class="card-body">
                    
                    <div class="table-responsive">
                        <table class="table table-hover table-striped table-bordered"><!--Creamos una tabla que mostrará todas las tareas-->
                            <thead>
                                <tr>
                                    <th scope="col">Nombre español</th>
                                    <th scope="col">Nombre Ingles</th>
                                    <th scope="col">Imagen</th>
                                    <th scope="col">Modificar</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="category in categories" :key="category.identificador"> <!--Recorremos el array y cargamos nuestra tabla-->
                                    <td v-text="category.aliasEs"></td>
                                    <td v-text="category.aliasEn"></td>
                                    <td> 
                                        <div class="avatar img-fluid img-circle" style="margin-top:10px">
                                            <img :src="urlImage+category.imagen" class="img-responsive" height="90" width="50">
                                        </div>
                                    </td>
                                    
                                    <td>
                                        <!--Botón modificar, que carga los datos del formulario con la tarea seleccionada-->
                                        <button class="btn btn-warning btn-sm" @click="loadFieldsUpdate(category)"><i class="fa fa-edit" aria-hidden="true"></i>
                                        </button>
                                        
                                        <!--Botón que borra la tarea que seleccionemos-->
                                        
                                        <button class="btn btn-danger btn-sm" @click="deleteCategory(category)"><i class="fa fa-trash blue"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <nav>
                        <ul class="nav nav-tabs">
                            <li class="nav-item" v-if="pagination.current_page > 1">
                                <a class="nav-link" href="#" @click.prevent="changePage(pagination.current_page - 1)">
                                    <span>Atras</span>
                                </a>
                            </li>

                            <li class="nav-item" v-for="page in pagesNumber" v-bind:class="[ page == isActived ? 'active' : '']">
                                <a class="nav-link" href="#" @click.prevent="changePage(page)">
                                    {{ page }}
                                </a>
                            </li>

                            <li class="nav-item" v-if="pagination.current_page < pagination.total_pages">
                                <a class="nav-link" href="#" @click.prevent="changePage(pagination.current_page + 1)">
                                    <span>Siguiente</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <transition name="slide-fade" mode="out-in">
         <router-view :key="$route.fullPath"></router-view>
     </transition>
 </div>
</template>

<script>
    export default {
        data(){
            return{

                form: new Form({
                   aliasEs:'',
                   aliasEn:'',
                   imagen: null,
                   identificador:0,
               }),
                categories: [],
                searchQuery:'',
                pagination: {
                    'total': 0,
                    'count': 0,
                    'per_page': 0,
                    'current_page': 0,
                    'total_pages': 0,
                },
                url: process.env.MIX_APP_URL,
                urlImage: process.env.MIX_URL_IMAGE,
                offset: 2

            }
        },

        computed: {
            
            image: function (){
                return this.imagenMiniatura;
            },

            isActived: function (){
                return this.pagination.current_page;
            },
            pagesNumber: function(){
                if(!this.pagination.total_pages){
                    return [];
                }
                //offset compensamos para que antes y despues haya la misma cantidad
                var from = this.pagination.current_page - this.offset;
                
                if (from < 1) {
                    from = 1;
                }

                var to = from + (this.offset * 2);

                if(to >= this.pagination.total_pages){
                    to = this.pagination.total_pages;
                }

                var pagesArray = [];
                while (from <= to ){
                    pagesArray.push(from);
                    from++;
                }

                return pagesArray;


            }

        },

        methods:{

            getCategories: function(page) {
                var urlCategories = this.url+'categories?page='+page;
                axios.get(urlCategories).then(response => {
                    this.categories = response.data.data,
                    this.pagination = response.data.meta.pagination
                }).catch(function (error) {
                    // handle error
                    console.log(error);
                });
            },
            
            createCategory: function() {
                var urlCreate = this.url+'categories';
                //Creamos el formData
                var data = new  FormData();
                //Añadimos la imagen seleccionada
                data.append('image', this.form.imagen)
                data.append('aliasEn', this.form.aliasEn)
                data.append('aliasEs', this.form.aliasEs)

                axios.post(urlCreate,data).then(response =>{
                    this.form.reset()//Limpiamos los campos e inicializamos la variable update a 0
                    this.getCategories()
                    
                    toastr.success('La Categoria se agrego con exito')

                }).catch(error=> {
                    this.form.errors.record(error.response.data.error)
                    Swal.fire({
                      icon: 'error',
                      title: 'Vaya ...',
                      text: '¡Algo salió mal!',
                      footer: 'Vuelva a intentarlo'
                  })
                });

            },

            updateCategory(){/*Esta funcion, es igual que la anterior, solo que tambien envia la variable update que contiene el id de la
                tarea que queremos modificar*/
                let urlUpdate = this.url+'categories/'+this.form.identificador;
                //Creamos el formData
                var data = new  FormData();
                //Añadimos la imagen seleccionada
                data.append('aliasEs', this.form.aliasEs)
                data.append('aliasEn', this.form.aliasEn)
                data.append('image', this.form.imagen)
                data.append('_method','put')
                axios.post(urlUpdate,data).then(response =>{
                    this.form.reset()
                    this.getCategories()//llamamos al metodo getCategories(); para que refresque nuestro array y muestro los nuevos datos
                    
                    toastr.success('Categoria actualizada con exito')
                }).catch(error => {
                    this.form.errors.record(error.response.data.error)
                    Swal.fire({
                      icon: 'error',
                      title: 'Vaya ...',
                      text: '¡Algo salió mal!',
                      footer: 'Vuelva a intentarlo'
                  })
                });
            },
            
            loadFieldsUpdate(category){ //Esta función rellena los campos y la variable update, con la tarea que queremos modificar
                this.form.identificador = category.identificador
                let urlClear = this.url+'categories/'+ this.form.identificador
                axios.get(urlClear).then(response => {
                    this.form.aliasEs= response.data.data.aliasEs
                    this.form.aliasEn= response.data.data.aliasEn
                    this.form.imagen = response.data.data.imagen

                    
                }).catch(error => {
                    // handle error
                    console.log(error)
                }); 
            },

            deleteCategory(category){//Esta nos abrirá un alert de javascript y si aceptamos borrará la tarea que hemos elegido
                let id = category.identificador
                let urlDelete = this.url + 'categories/'+id
                if (confirm('¿Seguro que deseas eliminar la categoria?')) {
                    axios.delete(urlDelete).then(response => {
                        this.getCategories()
                        toastr.success('Eliminado Correctamente')
                    }).catch(error => {
                        console.log(error)
                        Swal.fire({
                          icon: 'error',
                          title: 'Vaya ...',
                          text: '¡Algo salió mal!',
                          footer: 'Vuelva a intentarlo'
                      })
                    }); 
                }
            },

            changePage: function(page){
                this.pagination.current_page = page;
                this.getCategories(page);
            },

            clearFields(){/*Limpia los campos e inicializa la variable update a 0*/
                this.form.reset()
            },

            getImage(event){
                //Asignamos la imagen a  nuestra data
                this.form.imagen = event.target.files[0];
            },
        },

        mounted() {
         this.getCategories();
     }
 }
</script>