<template>
    <div class="container container-task">
        <div class="row">
            
            <div class="card bg-light col-md-4">
                <div class="card-header">Agregar Pais</div>
            
                <div class="form-group"><!-- Formulario para la creación o modificación de nuestras tareas-->
                    <label>Nombre Español</label>
                    <input v-model="nombreEs" type="text" class="form-control">
                    <span v-for="error in errors" class="text-danger">{{ error.nombreEs }}</span>
                    <br>
                    <label>Nombre Ingles</label>
                    <input v-model="nombreEn" type="text" class="form-control">
                    <span v-for="error in errors" class="text-danger">{{ error.nombreEn }}</span>

                </div>
                <div class="form-group">
                    <div class="container-buttons">
                        <!-- Botón que añade los datos del formulario, solo se muestra si la variable update es igual a 0-->
                        <button v-if="identificador == 0" @click="createCountry()" class="btn btn-success">Añadir</button>
                        <!-- Botón que modifica la tarea que anteriormente hemos seleccionado, solo se muestra si la variable update es diferente a 0-->
                        <button v-if="identificador != 0" @click="updateCountry()" class="btn btn-success">Actualizar</button>
                        <!-- Botón que limpia el formulario y inicializa la variable a 0, solo se muestra si la variable update es diferente a 0-->
                        <button v-if="identificador != 0" @click="clearFields()" class="btn btn-danger">Cancelar</button>
                    </div>
                </div>
            </div>

            <div class="card bg-light col-md-8">
                <div>
                    <router-link :to="{name: 'eliminados'}" type="button" class="btn btn-primary float-right">Ver Eliminados</router-link>
                </div>
                
                <div class="card-header">Lista de Paises</div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover table-striped table-bordered"><!--Creamos una tabla que mostrará todas las tareas-->
                                    <thead>
                                        <tr>
                                            <th scope="col">Nombre español</th>
                                            <th scope="col">Nombre ingles</th>
                                            <th scope="col">Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="country in countries" :key="country.identificador"> <!--Recorremos el array y cargamos nuestra tabla-->
                                            <td v-text="country.nombreEs"></td>
                                            <td v-text="country.nombreEn"></td>
                                            <td>
                                                <!--Botón modificar, que carga los datos del formulario con la tarea seleccionada-->
                                                <button class="btn btn-warning btn-sm" @click="loadFieldsUpdate(country)">Modificar</button>
                                                |
                                                <!--Botón que borra la tarea que seleccionemos-->
                                                <button class="btn btn-danger btn-sm" @click="deleteCountry(country)">Borrar</button>
                                            </td>
                                        </tr>
                                    </tbody>
                            </table>
                        </div>
                        <nav>
                            <ul class="nav nav-tabs">
                                <li class="nav-item" v-if="pagination.current_page > 1">
                                    <a class="nav-link" href="#" @click.prevent="changePage(pagination.current_page - 1)">
                                        <span>Atras</span>
                                    </a>
                                </li>

                                <li class="nav-item" v-for="page in pagesNumber" v-bind:class="[ page == isActived ? 'active' : '']">
                                    <a class="nav-link" href="#" @click.prevent="changePage(page)">
                                        {{ page }}
                                    </a>
                                </li>

                                <li class="nav-item" v-if="pagination.current_page < pagination.total_pages">
                                    <a class="nav-link" href="#" @click.prevent="changePage(pagination.current_page + 1)">
                                        <span>Siguiente</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                </div>
            </div>
        </div>
        <transition name="slide-fade" mode="out-in">
			<router-view :key="$route.fullPath"></router-view>
		</transition>
    </div>
</template>
<script>
    export default {
        data(){
            return{
                countries: [],
                countriesDelete:[],
                pagination: {
                'total': 0,
                'count': 0,
                'per_page': 0,
                'current_page': 0,
                'total_pages': 0,
                },
                fillCountry:{'identificador':'','nombreEs':'','nombreEn':''},
                nombreEs:'',
                nombreEn:'',
                identificador:0, /*Esta variable contrarolará cuando es una nueva tarea o una modificación, si es 0 significará que no hemos seleccionado
                          ninguna tarea, pero si es diferente de 0 entonces tendrá el id de la tarea y no mostrará el boton guardar sino el modificar*/
                errors: [],
                url: process.env.MIX_APP_URL,
                offset: 2
            }
        },

        computed: {
            isActived: function (){
                return this.pagination.current_page;
            },
            pagesNumber: function(){
                if(!this.pagination.total_pages){
                    return [];
                }
                //offset compensamos para que antes y despues haya la misma cantidad
                var from = this.pagination.current_page - this.offset;
                
                if (from < 1) {
                    from = 1;
                }

                var to = from + (this.offset * 2);

                if(to >= this.pagination.total_pages){
                    to = this.pagination.total_pages;
                }

                var pagesArray = [];
                while (from <= to ){
                    pagesArray.push(from);
                    from++;
                }

                return pagesArray;


            }

        },

        methods:{

            getCountries: function(page) {
                var urlCountries = this.url+'countries?page='+page;
                axios.get(urlCountries).then(response => {
                    this.countries = response.data.data,
                    this.pagination = response.data.meta.pagination
                }).catch(function (error) {
                    // handle error
                    console.log(error);
                });
            },
            
            createCountry: function() {
                var urlCreate = this.url+'countries';

                axios.post(urlCreate, {
                    nombreEs: this.nombreEs,
                    nombreEn: this.nombreEn,

                }).then(response => {
                    this.getCountries();
                    this.nombreEs = '';
                    this.nombreEn = '';
                    this.errors = [];
                    Toast.fire({
                          icon: 'success',
                          title: 'Pais registrado con exito'
                        }) 

                }).catch(error => {
                    this.errors = error.response.data;
                });

            },

            updateCountry(){/*Esta funcion, es igual que la anterior, solo que tambien envia la variable update que contiene el id de la
                tarea que queremos modificar*/
                let me = this;
                let urlUpdate = this.url+'countries/'+ this.identificador;
                axios.put(urlUpdate,{
                    'nombreEs':this.nombreEs,
                    'nombreEn':this.nombreEn,
                }).then(function (response) {
                    me.getCountries();//llamamos al metodo getTask(); para que refresque nuestro array y muestro los nuevos datos
                    me.clearFields();//Limpiamos los campos e inicializamos la variable update a 0
                    Toast.fire({
                          icon: 'success',
                          title: 'El pais se actualizo con exito'
                        }) 
                })
                .catch(error => {
                    this.errors = error.response.data;
                    toastr.error("Verifique sus datos.", "Error");
                });
            },
            
            loadFieldsUpdate(country){ //Esta función rellena los campos y la variable update, con la tarea que queremos modificar
                this.identificador = country.identificador
                let me =this;
                let urlClear = this.url+'countries/'+ this.identificador;
                axios.get(urlClear).then(function (response) {
                    me.nombreEs= response.data.data.nombreEs;
                    me.nombreEn= response.data.data.nombreEn;
                    
                })
                .catch(function (error) {
                    // handle error
                    console.log(error);
                }); 
            },

            deleteCountry(data){//Esta nos abrirá un alert de javascript y si aceptamos borrará la tarea que hemos elegido
                let me =this;
                let id = data.identificador
                let urlDelete = this.url + 'countries/'+id;
                if (confirm('¿Seguro que deseas borrar este pais?')) {
                    axios.delete(urlDelete).then(function (response) {
                        me.getCountries();
                        Toast.fire({
                          icon: 'error',
                          title: 'El pais fue elimiado con exito'
                        }) 
                    })
                    .catch(function (error) {
                        console.log(error);
                    }); 
                }
            },

            changePage: function(page){
                this.pagination.current_page = page;
                this.getCountries(page);
            },

            clearFields(){/*Limpia los campos e inicializa la variable update a 0*/
                this.nombreEs = "";
                this.nombreEn = "";
                this.identificador = 0;
            }
        },
        mounted() {
           this.getCountries();
        }
    }
</script>