<template>
   
         <div class="card card-default">
            <div class="card-header">Entidades Eliminadas</div>

            <div class="card-body">
                <entidades-eliminadas></entidades-eliminadas>
            </div>
        </div>
           
</template>