<template>
	
        <div v-if="provincesDelete != ''" class="col-sm">
           
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>Provincia</th>
                        <th>Pais</th>
                        <th colspan="2">
                            &nbsp;
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="province in provincesDelete">
                        <td>{{ province.denominacion }}</td>
                        <td>{{ province.nombrePais }}</td>
                        <td width="10px">
                            <a href="#" class="btn btn-primary btn-sm" v-on:click.prevent="restoreProvince(province)">Restaurar</a>
                        </td>
                    </tr>
                </tbody>
            </table>

            <nav>
                <ul class="nav nav-tabs">
                    <li class="nav-item" v-if="pagination.current_page > 1">
                        <a class="nav-link" href="#" @click.prevent="changePage(pagination.current_page - 1)">
                            <span>Atras</span>
                        </a>
                    </li>

                    <li class="nav-item" v-for="page in pagesNumber" v-bind:class="[ page == isActived ? 'active' : '']">
                        <a class="nav-link" href="#" @click.prevent="changePage(page)">
                            {{ page }}
                        </a>
                    </li>

                    <li class="nav-item" v-if="pagination.current_page < pagination.total_pages">
                        <a class="nav-link" href="#" @click.prevent="changePage(pagination.current_page + 1)">
                            <span>Siguiente</span>
                        </a>
                    </li>
                </ul>
            </nav>

            
        </div>

        <div v-else-if="provincesDelete == ''" class="col-sm">
            <h2> No hay registros eliminados</h2>

        </div>
	
</template>

<script>
export default {
    created: function() {
        this.getDeleteProvince();
    },
    data() {
        return {
            provinces: [],
            provincesDelete:[],
            pagination: {
            'total': 0,
            'count': 0,
            'per_page': 0,
            'current_page': 0,
            'total_pages': 0,
            },
            fillProvince:{'identificador':'','denominacion':'','nombrePais':''},
            denominacion:'',
            nombrePais:'',
            identificador:0,
            errors: [],
            url: process.env.MIX_APP_URL,
            offset: 2

        }
        
    },

    computed: {
        isActived: function (){
            return this.pagination.current_page;
        },
        pagesNumber: function(){
            if(!this.pagination.total_pages){
                return [];
            }
            //offset compensamos para que antes y despues haya la misma cantidad
            var from = this.pagination.current_page - this.offset;
            
            if (from < 1) {
                from = 1;
            }

            var to = from + (this.offset * 2);

            if(to >= this.pagination.total_pages){
                to = this.pagination.total_pages;
            }

            var pagesArray = [];
            while (from <= to ){
                pagesArray.push(from);
                from++;
            }

            return pagesArray;


        }

    },


    methods: {

        changePage: function(page){
            this.pagination.current_page = page;
            this.getDeleteProvince(page);
        },


        getDeleteProvince: function(page) {
            var urlProvince = this.url + 'provincesListD?page='+page;
            axios.get(urlProvince).then(response => {
                this.provincesDelete = response.data.data,
                this.pagination = response.data.meta.pagination
                }).catch(function (error) {
                    console.log(error);
                });
        
        },

        restoreProvince: function(province) {
            
            let urlRestore = this.url+'provincesRestoreD/'+ province.identificador

            axios.get(urlRestore).then(response => {
                    this.getDeleteProvince()
                     Swal.fire({
                      position: 'top-end',
                      icon: 'success',
                      title: 'La Provincia ' +province.denominacion +' ha sido restaurado',
                      showConfirmButton: false,
                      timer: 3000
                    })
            }).catch(function (error) {
                console.log(error);
                    Swal.fire({
                      icon: 'error',
                      title: 'Vaya ...',
                      text: '¡Algo salió mal!',
                      footer: 'Vuelva a intentarlo'
                    })
            });
              
        },
    }
}

</script>
