<template>
    <div class="container">
        <div class="card">
            <div class="card-header">
                Crear Entidad
            </div>
            <div class="card-body">
                <form>
                    <!-- Formulario de Perfil -->
                    <div class="card">
                        <div class="card-header">
                            Perfil
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <div class="center-block col-md-6">
                                    <label>Portada</label>
                                    <br>
                                    <img v-if="imageBase != null" :src="imageBase" class="rounded-circle" height="150" width="150">
                                    <img v-else-if="imageBase == null" :src="urlImagen+imagenRepo" class="rounded-circle" height="150" width="150">
                                    <br>
                                    <input type="file" name="image" @change="getImage" class="form-control" accept="image/*">
                                    <span v-if="form.errors.has('imagen')" v-text= "form.errors.get('imagen')" class="text-danger"></span>
                                </div>
                                <br>
                                <div class="form-group">
                                    <label>Nombre</label>
                                    <input v-model="form.denominacion" :class="{'is-invalid' : form.errors.has('denominacion')}" type="text" class="form-control form-control-lg"  @keydown="form.errors.clear('denominacion')">
                                    <span v-if="form.errors.has('denominacion')" v-text= "form.errors.get('denominacion')" class="text-danger"></span>
                                    <br>
                                </div>

                                <div class="form-group">
                                    <label>Dirección</label>
                                    <input v-model="form.ubicacion" :class="{'is-invalid' : form.errors.has('ubicacion')}" type="text" class="form-control form-control-lg"  @keydown="form.errors.clear('ubicacion')">
                                    <span v-if="form.errors.has('ubicacion')" v-text= "form.errors.get('ubicacion')" class="text-danger"></span>
                                    <br>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6"">
                                        <label>Teléfono</label>
                                        <input v-model="form.telefono" :class="{'is-invalid' : form.errors.has('telefono')}" type="text" class="form-control form-control-lg"  @keydown="form.errors.clear('telefono')">
                                        <span v-if="form.errors.has('telefono')" v-text= "form.errors.get('telefono')" class="text-danger"></span>
                                        <br>
                                    </div>

                                    <div class="form-group col-md-6"">
                                        <label>Correo electrónico</label>
                                        <input v-model="form.correo" :class="{'is-invalid' : form.errors.has('correo')}" type="text" class="form-control form-control-lg"  @keydown="form.errors.clear('correo')">
                                        <span v-if="form.errors.has('correo')" v-text= "form.errors.get('correo')" class="text-danger"></span>
                                        <br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Formulario de Ubicación -->
                    <div class="card">
                        <div class="card-header">
                            Localización
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="form-group col-md-4">
                                    <label>Pais</label>
                                    <select class="custom-select" v-model="country" @change="getProvincias()">
                                        <option v-for="data in countries" :value="data.id">{{ data.nombre }}</option>

                                    </select>
                                </div>

                                <div class="form-group col-md-4">
                                    <label>Provincia</label>
                                    <select class="custom-select" v-model="province" @change="getLocalidades()">
                                        <option v-for="data in provinces" :value="data.id">{{ data.nombre }}</option>

                                    </select>
                                </div>

                                <div class="form-group col-md-4">
                                    <label>Localidad</label>
                                    <select class="custom-select" v-model="form.localidad">
                                        <option v-for="locality in localities" :value="locality.id">{{locality.nombre }}</option>
                                    </select>
                                    <span v-if="form.errors.has('localidad')" v-text= "form.errors.get('localidad')" class="text-danger"></span>
                                </div>
                            </div>


                            <div class="row ">
                                <div class="form-group col-md-6">
                                    <label>Latitud</label>
                                    <input v-model="form.latitud" :class="{'is-invalid' : form.errors.has('latitud')}" type="text" class="form-control form-control-lg"  @keydown="form.errors.clear('latitud')">
                                    <span v-if="form.errors.has('latitud')" v-text= "form.errors.get('latitud')" class="text-danger"></span>
                                    <br>
                                </div>

                                <div class="form-group col-md-6">
                                    <label>Longitud</label>
                                    <input v-model="form.longitud" :class="{'is-invalid' : form.errors.has('longitud')}" type="text" class="form-control form-control-lg"  @keydown="form.errors.clear('longitud')">
                                    <span v-if="form.errors.has('longitud')" v-text= "form.errors.get('longitud')" class="text-danger"></span>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Formulario de Redes Sociales -->
                    <div class="card">
                        <div class="card-header">
                            Redes Sociales
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <div class="form-group">
                                    <label>Sitio Web</label>
                                    <input v-model="form.direccionWeb" :class="{'is-invalid' : form.errors.has('direccionWeb')}" type="text" class="form-control form-control-lg"  @keydown="form.errors.clear('direccionWeb')">
                                    <span v-if="form.errors.has('direccionWeb')" v-text= "form.errors.get('direccionWeb')" class="text-danger"></span>
                                    <br>
                                </div>

                                <div class="form-group">
                                    <label>Facebook</label>
                                    <input v-model="form.facebook" :class="{'is-invalid' : form.errors.has('facebook')}" type="text" class="form-control form-control-lg"  @keydown="form.errors.clear('facebook')">
                                    <span v-if="form.errors.has('facebook')" v-text= "form.errors.get('facebook')" class="text-danger"></span>
                                    <br>
                                </div>

                                <div class="form-group">
                                    <label>Twitter</label>
                                    <input v-model="form.twitter" :class="{'is-invalid' : form.errors.has('twitter')}" type="text" class="form-control form-control-lg"  @keydown="form.errors.clear('twitter')">
                                    <span v-if="form.errors.has('twitter')" v-text= "form.errors.get('twitter')" class="text-danger"></span>
                                    <br>
                                </div>

                                <div class="form-group">
                                    <label>Instagram</label>
                                    <input v-model="form.instagram" :class="{'is-invalid' : form.errors.has('instagram')}" type="text" class="form-control form-control-lg"  @keydown="form.errors.clear('instagram')">
                                    <span v-if="form.errors.has('instagram')" v-text= "form.errors.get('instagram')" class="text-danger"></span>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" @click.stop.prevent="createEntity()" class="btn btn-primary">Añadir</button>

                    <router-link :to="{name: 'entidades'}" class="btn btn-info">Cancelar
                    </router-link>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        created: function() {
            this.getCountries()
        },
        data() {
            return {
                form: new Form({
                    denominacion:'',
                    ubicacion:'',
                    telefono:'',
                    correo:'',
                    direccionWeb:'',
                    facebook:'',
                    twitter:'',
                    instagram:'',
                    latitud: '',
                    longitud: '',
                    imagen: null,
                    identificador:0,
                    pais:0,
                    localidad:0,
                }),
                imagenRepo: 'imagenes/no-image.png',
                imageBase: null,
                entity: [],
                countries:[],
                province:0,
                country:0,
                provinces: [],
                localities: [],
                url: process.env.MIX_APP_URL,
                urlImagen: process.env.MIX_URL_IMAGE,
            }
        },


        methods: {

            getCountries: function() {
                var urlCountries = this.url+'list-countries';
                axios.get(urlCountries).then(response => {
                    this.countries = response.data.data;

                }).catch(function (error) {
                    // handle error
                    console.log(error);
                });
            },

            getProvincias: function() {
                var urlProvinces = this.url+'countries-provinces/'+this.country;
                axios.get(urlProvinces).then(response => {
                    this.provinces = response.data.data;

                }).catch(function (error) {
                    // handle error
                    console.log(error);
                });
            },

            getLocalidades: function() {
                var urlProvinces = this.url+'provinces-localities/'+this.province;
                axios.get(urlProvinces).then(response => {
                    this.localities = response.data.data;

                }).catch(function (error) {
                    // handle error
                    console.log(error);
                });
            },

            

            createEntity(){/*Esta funcion, es igual que la anterior, solo que tambien envia la variable update que contiene el id de la
                tarea que queremos modificar*/
                let urlUpdate = this.url+'entities';
                //Creamos el formData
                var data = new  FormData();
                //Añadimos la imagen seleccionada
                data.append('localidad', this.form.localidad)
                data.append('denominacion', this.form.denominacion)
                data.append('ubicacion', this.form.ubicacion)
                data.append('telefono', this.form.telefono)
                data.append('correo', this.form.correo)
                data.append('direccionWeb', this.form.direccionWeb)
                data.append('facebook', this.form.facebook)
                data.append('twitter', this.form.twitter)
                data.append('instagram', this.form.instagram)
                data.append('latitud', this.form.latitud)
                data.append('longitud', this.form.longitud)
                data.append('portada', this.form.imagen)
                axios.post(urlUpdate,data).then(response =>{
                    
                    Swal.fire({
                      position: 'top-end',
                      icon: 'success',
                      title: 'Se creado la Entidad',
                      showConfirmButton: false,
                      timer: 3000
                  })
                    this.form.reset()
                    this.imageBase = null
                    this.$router.push('entidades')

                }).catch(error => {
                    this.form.errors.record(error.response.data.error)
                    Swal.fire({
                      icon: 'error',
                      title: 'Vaya ...',
                      text: '¡Algo salió mal!',
                      footer: 'Vuelva a intentarlo'
                  })
                });
            },

            

            getImage(event){
                //Asignamos la imagen a  nuestra data
                this.form.imagen = event.target.files[0];
            },

        },
        

    }
</script>