<template>
    
        <div v-if="entitiesDelete != ''" class="col-sm">
           
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th scope="col">Entidad</th>
                           <th scope="col">Fecha alta</th>
                           <th scope="col">Fecha actualizacion</th>
                           <th scope="col">Provincia</th>
                           <th scope="col">Direccion</th>
                           <th scope="col">Email</th>
                           <th scope="col">Imagen</th>
                        <th colspan="1">
                            &nbsp;
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="entity in entitiesDelete">
                        <td v-text="entity.denominacion"></td>
                          <td >{{entity.fechaCreacion | moment }}</td>
                          <td >{{entity.fechaActualizacion | moment }}</td>
                          <td v-text="entity.denominacionPro"></td>
                          <td v-text="entity.ubicacion"></td>
                          <td v-text="entity.correo"></td>
                        <td> 
                            <div class="avatar img-fluid img-circle" style="margin-top:10px">
                                <img :src="entity.imagen" class="img-responsive" height="90" width="50">
                            </div>
                        </td>
                        <td width="10px">
                            <a href="#" class="btn btn-primary btn-sm" v-on:click.prevent="restoreEntity(entity)">Restaurar</a>
                        </td>
                    </tr>
                </tbody>
            </table>

            <nav>
                <ul class="nav nav-tabs">
                    <li class="nav-item" v-if="pagination.current_page > 1">
                        <a class="nav-link" href="#" @click.prevent="changePage(pagination.current_page - 1)">
                            <span>Atras</span>
                        </a>
                    </li>

                    <li class="nav-item" v-for="page in pagesNumber" v-bind:class="[ page == isActived ? 'active' : '']">
                        <a class="nav-link" href="#" @click.prevent="changePage(page)">
                            {{ page }}
                        </a>
                    </li>

                    <li class="nav-item" v-if="pagination.current_page < pagination.total_pages">
                        <a class="nav-link" href="#" @click.prevent="changePage(pagination.current_page + 1)">
                            <span>Siguiente</span>
                        </a>
                    </li>
                </ul>
            </nav>

            
        </div>

         <div v-else-if="entitiesDelete == ''" class="col-sm">
            <h2> No hay registros eliminados</h2>

        </div>
    
</template>

<script>
export default {
    created: function() {
        this.getDeleteEntities();
    },
    data() {
        return {
            entity: [],
            entitiesDelete:[],
            pagination: {
            'total': 0,
            'count': 0,
            'per_page': 0,
            'current_page': 0,
            'total_pages': 0,
            },
            url: process.env.MIX_APP_URL,
            offset: 2

        }
        
    },

    computed: {
        isActived: function (){
            return this.pagination.current_page;
        },
        pagesNumber: function(){
            if(!this.pagination.total_pages){
                return [];
            }
            //offset compensamos para que antes y despues haya la misma cantidad
            var from = this.pagination.current_page - this.offset;
            
            if (from < 1) {
                from = 1;
            }

            var to = from + (this.offset * 2);

            if(to >= this.pagination.total_pages){
                to = this.pagination.total_pages;
            }

            var pagesArray = [];
            while (from <= to ){
                pagesArray.push(from);
                from++;
            }

            return pagesArray;


        }

    },


    methods: {

        changePage: function(page){
            this.pagination.current_page = page;
            this.getDeleteEntities(page);
        },


        getDeleteEntities: function(page) {
            let urlRestore = this.url+'entitiesListD?page='+page;
            axios.get(urlRestore).then(response => {
                this.entitiesDelete = response.data.data,
                this.pagination = response.data.meta.pagination
                }).catch(function (error) {
                    this.errors = error.response.data;
                    toastr.error("Error");
                });
        
        },

        restoreEntity: function(entity) {
            
            let urlRestore = this.url+'entitiesRestoreD/'+ entity.identificador

            axios.get(urlRestore).then(response => {
                    this.getDeleteEntities()
                    Swal.fire({
                      position: 'top-end',
                      icon: 'success',
                      title: 'La Entidad, sus articulos y sus usuarios han sido restaurados',
                      showConfirmButton: false,
                      timer: 5000
                    })
            }).catch(function (error) {
                console.log(error);
                    Swal.fire({
                      icon: 'error',
                      title: 'Vaya ...',
                      text: '¡Algo salió mal!',
                      footer: 'Vuelva a intentarlo'
                    })
            });
              
            
        },
    }
}

</script>
