
<template>

<div class="container">	
    
	<div class="card-header">Lista de Museos registrados.</div>
        <div>
            <router-link :to="{name: 'entidades-eliminados'}" type="button" class="btn btn-info float-right">Ver Eliminados</router-link>
        </div>
	   	<div class="card-body">
	      	<div class="table-responsive">
	          	<table class="table table-hover table-striped table-bordered" id="entidad"><!--Creamos una tabla que mostrará todas las tareas-->
	                <thead>
	                    <tr>
	                       <th scope="col">Entidad</th>
	                       <th scope="col">Fecha alta</th>
                           <th scope="col">Fecha actualizacion</th>
	                       <th scope="col">Provincia</th>
	                       <th scope="col">Direccion</th>
	                       <th scope="col">Email</th>
	                       <th scope="col">Imagen</th>
                           <th scope="col">Modificar</th>
	                  	</tr>
	                </thead>
	                <tbody>
	                   <tr v-for="entity in entities" :key="entity.identificador"> <!--Recorremos el array y cargamos nuestra tabla-->
	                      <td v-text="entity.denominacion"></td>
	                      <td >{{entity.fechaCreacion | moment }}</td>
                          <td >{{entity.fechaActualizacion | moment }}</td>
	                      <td v-text="entity.denominacionPro"></td>
	                      <td v-text="entity.ubicacion"></td>
	                      <td v-text="entity.correo"></td>
	                      <td> 
	                         <div class="avatar img-fluid img-circle" style="margin-top:10px">
	                         	<img :src="entity.imagen" class="img-responsive" height="90" width="50">
	                          </div>
	                      </td>
	                                                        
	                     <td>
	                    	<!--Botón modificar, que carga los datos del formulario con la tarea seleccionada-->
	                    	<router-link :to="{name: 'entidades-edit', params: { id: entity.identificador,pais: entity.pais }}" class="btn btn-primary"><i class="fa fa-edit" aria-hidden="true"></i>
                        	</router-link>
	                   		
	                    	<!--Botón que borra la tarea que seleccionemos-->
                            <br><br>
	                    	<button class="btn btn-danger" @click="deleteEntity(entity)"><i class="fa fa-trash blue" aria-hidden="true"></i> </button>
	                    </td>
	                  </tr>
	                </tbody>
	        	</table>
	        </div>
	            <nav>
	               <ul class="nav nav-tabs">
	                  	<li class="nav-item" v-if="pagination.current_page > 1">
	                      	<a class="nav-link" href="#" @click.prevent="changePage(pagination.current_page - 1)">
	                      	<span>Atras</span>
	                       	</a>
	                   	</li>

	                    <li class="nav-item" v-for="page in pagesNumber" v-bind:class="[ page == isActived ? 'active' : '']">
	                        <a class="nav-link" href="#" @click.prevent="changePage(page)">
	                                                    {{ page }}
	                        </a>
	                    </li>

	                    <li class="nav-item" v-if="pagination.current_page < pagination.total_pages">
	                        <a class="nav-link" href="#" @click.prevent="changePage(pagination.current_page + 1)">
	                        <span>Siguiente</span>
	                        </a>
	                    </li>
	                </ul>
	            </nav>
		</div>

	 	<transition name="slide-fade" mode="out-in">
				<router-view :key="$route.fullPath"></router-view>
		</transition>
</div>
	  
</template>



<script>
    export default {
        data(){
            return{

                form: new Form({
                     aliasEs:'',
                    aliasEn:'',
                    imagen: null,
                    identificador:0,
                }),
               entities: [],
                pagination: {
                'total': 0,
                'count': 0,
                'per_page': 0,
                'current_page': 0,
                'total_pages': 0,
                },
                url: process.env.MIX_APP_URL,
                offset: 2

            }
        },

        computed: {

            isActived: function (){
                return this.pagination.current_page;
            },
            pagesNumber: function(){
                if(!this.pagination.total_pages){
                    return [];
                }
                //offset compensamos para que antes y despues haya la misma cantidad
                var from = this.pagination.current_page - this.offset;
                
                if (from < 1) {
                    from = 1;
                }

                var to = from + (this.offset * 2);

                if(to >= this.pagination.total_pages){
                    to = this.pagination.total_pages;
                }

                var pagesArray = [];
                while (from <= to ){
                    pagesArray.push(from);
                    from++;
                }

                return pagesArray;


            }

        },

        methods:{
        

            getEntities: function(page) {
                var endPoint = this.url+'entities?page='+page;
                axios.get(endPoint).then(response => {
                    this.entities = response.data.data,
                    this.pagination = response.data.meta.pagination
                }).catch(function (error) {
                    // handle error
                    console.log(error);
                });
            },
            
           
          

             deleteEntity(entity){//Esta nos abrirá un alert de javascript y si aceptamos borrará la tarea que hemos elegido
                let id = entity.identificador
                let urlDelete = this.url + 'entities/'+id

                Swal.fire({
                        title: '¿ Esta seguro de eliminar la Entidad ' + entity.denominacion +' ?',
                        text: "Se eliminara sus artículos publicados y usuarios.",
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonText: "Sí, eliminar",
                        cancelButtonText: "Cancelar",
                        })
                    .then(resultado => {
                        if (resultado.value) {
                            // Hicieron click en "Sí"
                            axios.delete(urlDelete).then(response => {
                                this.getEntities()
                                toastr.success('Eliminado Correctamente')
                            }).catch(error => {
                                console.log(error)
                                Swal.fire({
                                  icon: 'error',
                                  title: 'Vaya ...',
                                  text: '¡Algo salió mal!',
                                  footer: 'Vuelva a intentarlo'
                                })
                            }); 
                
                        } else {
                        // Dijeron que no
                        console.log("*NO se elimina*");
                        }
                });

            },

            changePage: function(page){
                this.pagination.current_page = page;
                this.getEntities(page);
            },

            
        },

        filters: {
            moment: function (date) {
            return moment(date).format('YYYY-MM-DD');
            },
        },

        mounted() {
           this.getEntities();
        }
    }
</script>
