<template>
	<div class="container">
		<div v-if="users != ''" class="row mt-5">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">
						<h3 class="card-title">Lista de usuarios Eliminados</h3>
					</div>
					<div class="card-body table-responsive p-0">
						<table class="table table-hover">
							<tbody>
								<tr>
									<th>Apellido</th>
									<th>Nombre</th>
									<th>Email</th>
									<th>Perfil</th>
									<th>Registrado en</th>
									<th>Eliminado en</th>
									<th>Restaurar</th>
								</tr>
								<tr v-for="user in users" :key="user.identificador">
									<td>{{ user.apellido }}</td>
									<td>{{ user.nombre }}</td>
									<td>{{ user.correo }}</td>
									<td>{{ user.nombrePer}}</td>
									<td>{{ user.fechaCreacion | moment}}</td>
									<td>{{ user.fechaEliminacion | moment}}</td>
									<td>
										<a href="#" data-id="user.identificador" v-on:click.prevent="restoreUser(user)">
											<i class="fa fa-window-restore blue"></i>
										</a>

									</td>
								</tr>
							</tbody>
						</table>
						<nav>
							<ul class="nav nav-tabs">
								<li class="nav-item" v-if="pagination.current_page > 1">
									<a class="nav-link" href="#" @click.prevent="changePage(pagination.current_page - 1)">
										<span>Atras</span>
									</a>
								</li>

								<li class="nav-item" v-for="page in pagesNumber" v-bind:class="[ page == isActived ? 'active' : '']">
									<a class="nav-link" href="#" @click.prevent="changePage(page)">
										{{ page }}
									</a>
								</li>

								<li class="nav-item" v-if="pagination.current_page < pagination.total_pages">
									<a class="nav-link" href="#" @click.prevent="changePage(pagination.current_page + 1)">
										<span>Siguiente</span>
									</a>
								</li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>

		<div v-else-if="users == ''" class="row mt-5 justify-content-center">
            <h3> No hay registros eliminados</h3>

        </div>
	</div>
</template>
<script>
	export default {
		data() {
			return {
				users: {},
				pagination: {
					'total': 0,
					'count': 0,
					'per_page': 0,
					'current_page': 0,
					'total_pages': 0,
				},
				url: process.env.MIX_APP_URL,
				offset: 2
			}
		},

		computed: {

			isActived: function (){
				return this.pagination.current_page;
			},
			pagesNumber: function(){
				if(!this.pagination.total_pages){
					return [];
				}
                //offset compensamos para que antes y despues haya la misma cantidad
                var from = this.pagination.current_page - this.offset;
                
                if (from < 1) {
                	from = 1;
                }

                var to = from + (this.offset * 2);

                if(to >= this.pagination.total_pages){
                	to = this.pagination.total_pages;
                }

                var pagesArray = [];
                while (from <= to ){
                	pagesArray.push(from);
                	from++;
                }

                return pagesArray;


            }

        },

        methods: {

        	getDeleteUsers: function(page) {
        		let endPoint = this.url+'usersListD?page='+page;
        		axios.get(endPoint).then(response => {
        			this.users = response.data.data,
        			this.pagination = response.data.meta.pagination
        		}).catch(function (error) {
        			this.errors = error.response.data;
        			toastr.error("Error");
        		});

        	},

        	restoreUser: function(user) {

        		let urlRestore = this.url+'usersRestoreD/'+ user.identificador

        		axios.get(urlRestore).then(response => {
        			this.getDeleteUsers()
        			Swal.fire({
        				position: 'top-end',
        				icon: 'success',
        				title: 'El usuario '+ user.apellido+' '+user.nombre +' ha sido restaurado',
        				showConfirmButton: false,
        				timer: 4000
        			})
        		}).catch(function (error) {
        			console.log(error);
        			Swal.fire({
        				icon: 'error',
        				title: 'Vaya ...',
        				text: '¡Algo salió mal!',
        				footer: 'Vuelva a intentarlo'
        			})
        		});


        	},


        	changePage: function(page){
        		this.pagination.current_page = page;
        		this.getDeleteUsers(page);
        	},

        },

        filters: {
        	moment: function (date) {
        		return moment(date).format('YYYY-MM-DD');
        	},
        },

        created() { 
        	this.getDeleteUsers();

        }
    }
</script>

