<template>
  <div class="container">
    <div class="row mt-5">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Lista de usuarios registrados</h3>
            <div class="card-tools">
              <button class="btn btn-success" data-toggle="modal" data-target="#addNew" @click="openModalWindow">Agregar Nuevo <i class="fas fa-user-plus fa-fw"></i></button>

              <router-link :to="{name: 'usuarios-eliminados'}" class="btn btn-danger" data-toggle="modal">Eliminados <i class="fas fa-trash fa-fw"></i></router-link>
            </div>
          </div>
          <div class="card-body table-responsive p-0">
            <table class="table table-hover table-striped table-bordered">
              <tbody>
                <tr>
                  <th>Apellido</th>
                  <th>Nombre</th>
                  <th>Email</th>
                  <th>Verificado</th>
                  <th>Perfil</th>
                  <th>Entidad</th>
                  <th>Registrado en</th>
                  <th>Modificar</th>
                </tr>
                <tr v-for="user in users" :key="user.identificador">
                  <td>{{ user.apellido }}</td>
                  <td>{{ user.nombre }}</td>
                  <td>{{ user.correo }}</td>
                  <td v-if="user.verified == 1">SI</td>
                  <td v-else-if="user.verified == 0">NO</td>
                  <td>{{ user.nombrePer}}</td>
                  <td>{{ user.nombreEnt}}</td>
                  <td>{{ user.fechaCreacion | moment}}</td>
                  <td>
                    <a href="#" data-id="user.identificador" @click="editModalWindow(user)">
                      <i class="fa fa-edit blue"></i>
                    </a>
                    |
                    <a href="#" @click="deleteUser(user)">
                      <i class="fa fa-trash red"></i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <nav>
            <ul class="nav nav-tabs">
              <li class="nav-item" v-if="pagination.current_page > 1">
                <a class="nav-link" href="#" @click.prevent="changePage(pagination.current_page - 1)">
                  <span>Atras</span>
                </a>
              </li>

              <li class="nav-item" v-for="page in pagesNumber" v-bind:class="[ page == isActived ? 'active' : '']">
                <a class="nav-link" href="#" @click.prevent="changePage(page)">
                  {{ page }}
                </a>
              </li>

              <li class="nav-item" v-if="pagination.current_page < pagination.total_pages">
                <a class="nav-link" href="#" @click.prevent="changePage(pagination.current_page + 1)">
                  <span>Siguiente</span>
                </a>
              </li>
            </ul>
          </nav>
          <div class="card-footer">
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="addNew" tabindex="-1" role="dialog" aria-labelledby="addNewLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 v-show="!editMode" class="modal-title" id="addNewLabel">Agregar nuevo usuario</h5>
            <h5 v-show="editMode" class="modal-title" id="addNewLabel">Actualizar usuario</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form @submit.prevent="editMode ? updateUser() : createUser()">
            <div class="modal-body">
              <div class="form-group">
                <input v-model="form.firstname" type="text" name="firstname"
                placeholder="Nombre"
                class="form-control" :class="{ 'is-invalid': form.errors.has('firstname') }">
                <has-error :form="form" field="firstname"></has-error>
              </div>

              <div class="form-group">
                <input v-model="form.lastname" type="text" name="lastname"
                placeholder="Apellido"
                class="form-control" :class="{ 'is-invalid': form.errors.has('lastname') }">
                <has-error :form="form" field="lastname"></has-error>
              </div>


              <div class="form-group">
                <input v-model="form.email" type="email" name="email"
                placeholder="email Electronico"
                class="form-control" :class="{ 'is-invalid': form.errors.has('email') }">
                <has-error :form="form" field="email"></has-error>
              </div>
              <div class="form-group">
                <input v-model="form.password" type="password" name="password" id="password" placeholder="password"
                class="form-control" :class="{ 'is-invalid': form.errors.has('password') }">
                <has-error :form="form" field="password"></has-error>
              </div>

              <div class="form-group">
                <label>Entidad del usuario</label>
                <select name="entity_id" v-model="form.entity_id" id="entity_id" class="custom-select"  :class="{ 'is-invalid': form.errors.has('entity_id') }">
                  <option value="" >No tiene entidad</option>
                  <option v-for="entidad in entities" :value="entidad.id">{{ entidad.nombre }}</option>
                  
                </select>
                <has-error :form="form" field="entity_id"></has-error>
              </div>

              <div class="form-group">
                <label>Perfil</label>
                <select name="profile_id" v-model="form.profile_id" id="profile_id" class="form-control" :class="{ 'is-invalid': form.errors.has('profile_id') }">
                   
                  <option v-for="perfil in profiles" :value="perfil.identificador">{{ perfil.alias }}</option>
                </select>
                <has-error :form="form" field="profile_id"></has-error>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
              <button v-show="editMode" type="submit" class="btn btn-primary">Actualizar</button>
              <button v-show="!editMode" type="submit" class="btn btn-primary">Crear</button>
            </div>
          </form>
        </div>

      </div>
      
    </div>
    <transition name="slide-fade" mode="out-in">
      <router-view :key="$route.fullPath"></router-view>
    </transition>
  </div>
</template>
<script>
  export default {
    data() {
      return {
        editMode: false,
        users: {},
        entities: {},
        profiles: {},
        form: new Form({
          identificador: '',
          firstname : '',
          lastname : '',
          email: '',
          password: '',
          profile_id: '',
          profile:'',
          entity_id: '',
          entity: '',
        }),
        pagination: {
          'total': 0,
          'count': 0,
          'per_page': 0,
          'current_page': 0,
          'total_pages': 0,
        },
        lang:'es',
        url: process.env.MIX_APP_URL,
        urlImage: process.env.MIX_URL_IMAGE,
        offset: 2
      }
    },

    computed: {

      isActived: function (){
        return this.pagination.current_page;
      },
      pagesNumber: function(){
        if(!this.pagination.total_pages){
          return [];
        }
                //offset compensamos para que antes y despues haya la misma cantidad
                var from = this.pagination.current_page - this.offset;
                
                if (from < 1) {
                  from = 1;
                }

                var to = from + (this.offset * 2);

                if(to >= this.pagination.total_pages){
                  to = this.pagination.total_pages;
                }

                var pagesArray = [];
                while (from <= to ){
                  pagesArray.push(from);
                  from++;
                }

                return pagesArray;


              }

            },

            methods: {

              getProfiles: function() {
                let urlProfiles = this.url+'profiles';

                axios.get(urlProfiles).then(response => {
                    this.profiles = response.data.data
                }).catch(function (error) {
                    // handle error
                    console.log(error);
                });
              },


              getEntities: function() {
                let endPoint = this.url+'list-entities';
                axios.get(endPoint).then(response => {
                    this.entities = response.data.data;

                }).catch(function (error) {
                    // handle error
                    console.log(error);
                });
            },

              editModalWindow(user){
               this.editMode = true
               this.form.reset();
               $('#addNew').modal('show');
               this.form.identificador = user.identificador
               this.form.firstname = user.apellido
               this.form.lastname= user.nombre
               this.form.email = user.correo
               this.form.entity_id = user.entidad
               this.form.entity = user.nombreEnt
               this.form.profile_id = user.perfil
               this.form.profile = user.nombrePer
             },

             updateUser(){
              let urlUpdate = this.url+'users/'+this.form.identificador;

              var data = new  FormData();
                //Añadimos la imagen seleccionada
                data.append('firstname', this.form.firstname)
                data.append('lastname', this.form.lastname)
                data.append('lang', this.lang)
                data.append('email', this.form.email)
                data.append('profile_id', this.form.profile_id)
                data.append('entity_id', this.form.entity_id)
                data.append('_method','put')

               axios.post(urlUpdate,data).then(response =>{
                    this.form.reset()
                    this.loadUsers()//llamamos al metodo getCategories(); para que refresque nuestro array y muestro los nuevos datos
                    Toast.fire({
                  icon: 'success',
                  title: 'Usuario actualizado con exito'
                })

                 Fire.$emit('AfterCreatedUserLoadIt');

                 $('#addNew').modal('hide');
                }).catch(error => {
                    this.form.errors.record(error.response.data.error)
                    Swal.fire({
                      icon: 'error',
                      title: 'Vaya ...',
                      text: '¡Algo salió mal!',
                      footer: 'Vuelva a intentarlo'
                    })
                });
             },



             openModalWindow(){
               this.editMode = false
               this.form.reset();
               $('#addNew').modal('show');
             },

             loadUsers: function(page) {
              let endPoint = this.url+'users?page='+page;
              axios.get(endPoint).then(response => {
                this.users = response.data.data,
                this.pagination = response.data.meta.pagination
              }).catch(function (error) {
                    // handle error
                    console.log(error);
                  });
            },
            
            createUser(){
              let urlCreate = this.url+'signup';

              var data = new  FormData();
                //Añadimos la imagen seleccionada
                data.append('firstname', this.form.firstname)
                data.append('lastname', this.form.lastname)
                data.append('lang', this.lang)
                data.append('email', this.form.email)
                data.append('password', this.form.password)
                data.append('profile_id', this.form.profile_id)
                data.append('entity_id', this.form.entity_id)

                axios.post(urlCreate,data).then(response =>{
                    this.form.reset()
                    this.loadUsers()//llamamos al metodo getCategories(); para que refresque nuestro array y muestro los nuevos datos
                    Toast.fire({
                  icon: 'success',
                  title: 'Usuario creado con exito'
                })

                 Fire.$emit('AfterCreatedUserLoadIt');
                 $('#addNew').modal('hide');

                  }).catch(error=> {
                    this.form.errors.record(error.response.data.error)
                    Swal.fire({
                      icon: 'error',
                      title: 'Vaya ...',
                      text: '¡Algo salió mal!',
                      footer: 'Vuelva a intentarlo'
                    })
                  });
          //this.loadUsers();
        },

        deleteUser(user) {
          Swal.fire({
            title: '¿ Estas seguro/a de elimanar a ' + user.apellido +' '+ user.nombre+ '?',
            text: "Luego  podrá restaurarlo",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            cancelButtonText: "Cancelar",
            confirmButtonText: '¡Sí, eliminar!'
          }).then((result) => {

            if (result.value) {
              //Send Request to server
              axios.delete(this.url+'users/'+user.identificador)
              .then((response)=> {
                Swal.fire(
                  'Eliminado!',
                  'El usuario ' + user.apellido +' '+ user.nombre+ ' fue elimando con éxito',
                  'success'
                  )
                this.loadUsers();

              }).catch(() => {
                Swal.fire({
                  icon: 'error',
                  title: 'Oops...',
                  text: 'Something went wrong!',
                  footer: '<a href>Why do I have this issue?</a>'
                })
              })
            }

          })
        },
        changePage: function(page){
          this.pagination.current_page = page;
          this.loadUsers(page);
        },

      },

      filters: {
        moment: function (date) {
          return moment(date).format('YYYY-MM-DD');
        },
      },

      created() { 
        this.loadUsers();
        this.getEntities();
        this.getProfiles();

        Fire.$on('AfterCreatedUserLoadIt',()=>{ //custom events fire on
            this.loadUsers();
          });

        }
      }
    </script>