<template>

    
    <div class="container container-task">
        <div class="row">
            
            <div class="card bg-light col-md-4">
                
                    <div class="card-header">Perfiles</div>
                            <form>
                                        <div class="form-group"><!-- Formulario para la creación o modificación de nuestras tareas-->
                                            <label>Nombre Español</label>
                                            <input v-model="form.alias" :class="{'is-invalid' : form.errors.has('alias')}" type="text" class="form-control form-control-lg"  @keydown="form.errors.clear('alias')">
                                            <span v-if="form.errors.has('alias')" v-text= "form.errors.get('alias')" class="text-danger"></span>
                                            <br>
                                        </div>
                                        <div class="form-group">
                                            <label>Nombre Ingles</label>
                                            <input v-model="form.aliasEn" :class="{'is-invalid' : form.errors.has('aliasEn')}" type="text" class="form-control form-control-lg"  @keydown="form.errors.clear('aliasEn')">
                                            <span v-if="form.errors.has('aliasEn')" v-text= "form.errors.get('aliasEn')" class="text-danger"></span>

                                        </div>

                                        <div class="form-group">
                                            <label>Descripcion</label>
                                            <textarea v-model="form.detalle" :class="{'is-invalid' : form.errors.has('detalle')}" placeholder="Breve descripcion" class="form-control form-control-lg"  @keydown="form.errors.clear('detalle')"> </textarea>
                                            <span v-if="form.errors.has('detalle')" v-text= "form.errors.get('detalle')" class="text-danger"></span>

                                        </div>

                                       
                                
                                        <div class="form-group">
                                            <div class="container-buttons">
                                                <!-- Botón que añade los datos del formulario, solo se muestra si la variable update es igual a 0-->

                                                <button v-if="form.identificador == 0" type="submit" @click.stop.prevent="createProfile()" class="btn btn-success">Añadir</button>

                                                <!-- Botón que modifica la tarea que anteriormente hemos seleccionado, solo se muestra si la variable update es diferente a 0-->
                                                <button v-if="form.identificador != 0" type="submit" @click.stop.prevent="updateProfile()" class="btn btn-success">Actualizar</button>
                                                <!-- Botón que limpia el formulario y inicializa la variable a 0, solo se muestra si la variable update es diferente a 0-->
                                                <button v-if="form.identificador != 0" @click.stop.prevent="clearFields()" class="btn btn-danger">Cancelar</button>
                                            </div>
                                        </div>
                            
                            </form>
                </div>

                <div class="card bg-light col-md-8">
                        <div>
                            <router-link :to="{name: 'perfiles-eliminados'}" type="button" class="btn btn-info float-right">Ver Eliminados</router-link>
                        </div>
                        <div class="card-header">Lista de Perfiles</div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-hover table-striped table-bordered"><!--Creamos una tabla que mostrará todas las tareas-->
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Nombre español</th>
                                                        <th scope="col">Nombre Ingles</th>
                                                        <th scope="col">detalle</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr v-for="profile in profiles" :key="profile.identificador"> <!--Recorremos el array y cargamos nuestra tabla-->
                                                        <td v-text="profile.alias"></td>
                                                        <td v-text="profile.aliasEn"></td>
                                                        <td v-text="profile.detalle"></td>
                                                        
                                                        
                                                        <td>
                                                            <!--Botón modificar, que carga los datos del formulario con la tarea seleccionada-->
                                                            <button class="btn btn-warning btn-sm" @click="loadFieldsUpdate(profile)">Modificar</button>
                                                        </td>
                                                        <td>
                                                            <!--Botón que borra la tarea que seleccionemos-->
                                                            <button class="btn btn-danger btn-sm" @click="deleteProfile(profile)">Borrar</button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                        </table>
                                    </div>
                                    <nav>
                                        <ul class="nav nav-tabs">
                                            <li class="nav-item" v-if="pagination.current_page > 1">
                                                <a class="nav-link" href="#" @click.prevent="changePage(pagination.current_page - 1)">
                                                    <span>Atras</span>
                                                </a>
                                            </li>

                                            <li class="nav-item" v-for="page in pagesNumber" v-bind:class="[ page == isActived ? 'active' : '']">
                                                <a class="nav-link" href="#" @click.prevent="changePage(page)">
                                                    {{ page }}
                                                </a>
                                            </li>

                                            <li class="nav-item" v-if="pagination.current_page < pagination.total_pages">
                                                <a class="nav-link" href="#" @click.prevent="changePage(pagination.current_page + 1)">
                                                    <span>Siguiente</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                        </div>
            </div>
        <transition name="slide-fade" mode="out-in">
			<router-view :key="$route.fullPath"></router-view>
		</transition>
    </div>
</template>

<script>
    export default {
        data(){
            return{

                form: new Form({
                    identificador:0,
                    alias:'',
                    aliasEn:'',
                    detalle:'',
                    
                }),
               profiles: [],
                pagination: {
                'total': 0,
                'count': 0,
                'per_page': 0,
                'current_page': 0,
                'total_pages': 0,
                },
                url: process.env.MIX_APP_URL,
                offset: 2

            }
        },

        computed: {

            isActived: function (){
                return this.pagination.current_page;
            },
            pagesNumber: function(){
                if(!this.pagination.total_pages){
                    return [];
                }
                //offset compensamos para que antes y despues haya la misma cantidad
                var from = this.pagination.current_page - this.offset;
                
                if (from < 1) {
                    from = 1;
                }

                var to = from + (this.offset * 2);

                if(to >= this.pagination.total_pages){
                    to = this.pagination.total_pages;
                }

                var pagesArray = [];
                while (from <= to ){
                    pagesArray.push(from);
                    from++;
                }

                return pagesArray;


            }

        },

        methods:{

            getProfiles: function(page) {
                var urlProfiles = this.url+'profiles?page='+page;

                axios.get(urlProfiles).then(response => {
                    this.profiles = response.data.data,
                    this.pagination = response.data.meta.pagination
                }).catch(function (error) {
                    // handle error
                    console.log(error);
                });
            },
            
            createProfile: function() {
                var urlCreate = this.url+'profiles';
                //Creamos el formData
                var data = new  FormData();
                //Añadimos la imagen seleccionada
                
                data.append('aliasEn', this.form.aliasEn)
                data.append('alias', this.form.alias)
                data.append('detalle', this.form.detalle)

                axios.post(urlCreate,data).then(response =>{
                    this.form.reset()//Limpiamos los campos e inicializamos la variable update a 0
                    this.getProfiles()
                    
                    toastr.success('El Perfil se agrego con exito')

                }).catch(error=> {
                    this.form.errors.record(error.response.data.error)
                    Swal.fire({
                      icon: 'error',
                      title: 'Vaya ...',
                      text: '¡Algo salió mal!',
                      footer: 'Vuelva a intentarlo'
                    })
                });

            },

            updateProfile(){/*Esta funcion, es igual que la anterior, solo que tambien envia la variable update que contiene el id de la
                tarea que queremos modificar*/
                let urlUpdate = this.url+'profiles/'+this.form.identificador;
                //Creamos el formData
                var data = new  FormData();
                //Añadimos la imagen seleccionada
                data.append('alias', this.form.alias)
                data.append('aliasEn', this.form.aliasEn)
                data.append('detalle', this.form.detalle)
                data.append('_method','put')
                axios.post(urlUpdate,data).then(response =>{
                    this.form.reset()
                    this.getProfiles()//llamamos al metodo getProfiles(); para que refresque nuestro array y muestro los nuevos datos
                    
                    toastr.success('Perfil actualizado con exito')
                }).catch(error => {
                    this.form.errors.record(error.response.data.error)
                    Swal.fire({
                      icon: 'error',
                      title: 'Vaya ...',
                      text: '¡Algo salió mal!',
                      footer: 'Vuelva a intentarlo'
                    })
                });
            },
            
            loadFieldsUpdate(profile){ //Esta función rellena los campos y la variable update, con la tarea que queremos modificar
                this.form.identificador = profile.identificador
                let urlClear = this.url+'profiles/'+ this.form.identificador
                axios.get(urlClear).then(response => {
                    this.form.alias= response.data.data.alias
                    this.form.aliasEn= response.data.data.aliasEn
                    this.form.detalle = response.data.data.detalle

                    
                }).catch(error => {
                    // handle error
                    console.log(error)
                }); 
            },

            deleteProfile(profile){//Esta nos abrirá un alert de javascript y si aceptamos borrará la tarea que hemos elegido
                let id = profile.identificador
                let urlDelete = this.url + 'profiles/'+id

                Swal.fire({
                        title: '¿ Esta seguro de eliminar el perfil ' + profile.aliasEn +' ?',
                        text: "¿Eliminar?",
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonText: "Sí, eliminar",
                        cancelButtonText: "Cancelar",
                        })
                    .then(resultado => {
                        if (resultado.value) {
                            // Hicieron click en "Sí"
                            axios.delete(urlDelete).then(response => {
                                this.getProfiles()
                                toastr.success('Eliminado Correctamente')
                            }).catch(error => {
                                console.log(error)
                                Swal.fire({
                                  icon: 'error',
                                  title: 'Vaya ...',
                                  text: '¡Algo salió mal!',
                                  footer: 'Vuelva a intentarlo'
                                })
                            }); 
                
                        } else {
                        // Dijeron que no
                        console.log("*NO se elimina*");
                        }
                });

            },

            changePage: function(page){
                this.pagination.current_page = page;
                this.getProfiles(page);
            },

            clearFields(){/*Limpia los campos e inicializa la variable update a 0*/
                this.form.reset()
            },

        },

        mounted() {
           this.getProfiles();
        }
    }
</script>