<template>
    
        <div v-if="profilesDelete != ''" class="col-sm">
           <div class="table-responsive">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Nombre español</th>
                            <th scope="col">Nombre Ingles</th>
                            <th scope="col">Detalle</th>
                            <th colspan="2">
                                &nbsp;
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="profile in profilesDelete">
                            <td v-text="profile.alias"></td>
                            <td v-text="profile.aliasEn"></td>
                            <td v-text="profile.detalle"></td>
                            <td width="10px">
                                <a href="#" class="btn btn-primary btn-sm" v-on:click.prevent="restoreProfile(profile)">Restaurar</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <nav>
                <ul class="nav nav-tabs">
                    <li class="nav-item" v-if="pagination.current_page > 1">
                        <a class="nav-link" href="#" @click.prevent="changePage(pagination.current_page - 1)">
                            <span>Atras</span>
                        </a>
                    </li>

                    <li class="nav-item" v-for="page in pagesNumber" v-bind:class="[ page == isActived ? 'active' : '']">
                        <a class="nav-link" href="#" @click.prevent="changePage(page)">
                            {{ page }}
                        </a>
                    </li>

                    <li class="nav-item" v-if="pagination.current_page < pagination.total_pages">
                        <a class="nav-link" href="#" @click.prevent="changePage(pagination.current_page + 1)">
                            <span>Siguiente</span>
                        </a>
                    </li>
                </ul>
            </nav>

            
        </div>

        <div v-else-if="profilesDelete == ''" class="row mt-5 justify-content-center">
            <h2> No hay registros eliminados</h2>

        </div>
    
</template>

<script>
export default {
    created: function() {
        this.getDeleteProfiles();
    },
    data() {
        return {
            profiles: [],
            profilesDelete:[],
            pagination: {
            'total': 0,
            'count': 0,
            'per_page': 0,
            'current_page': 0,
            'total_pages': 0,
            },
            aliasEs:'',
            aliasEn:'',
            detalle:'',
            errors: [],
            url: process.env.MIX_APP_URL,
            offset: 2

        }
        
    },

    computed: {
        isActived: function (){
            return this.pagination.current_page;
        },
        pagesNumber: function(){
            if(!this.pagination.total_pages){
                return [];
            }
            //offset compensamos para que antes y despues haya la misma cantidad
            var from = this.pagination.current_page - this.offset;
            
            if (from < 1) {
                from = 1;
            }

            var to = from + (this.offset * 2);

            if(to >= this.pagination.total_pages){
                to = this.pagination.total_pages;
            }

            var pagesArray = [];
            while (from <= to ){
                pagesArray.push(from);
                from++;
            }

            return pagesArray;


        }

    },


    methods: {

        changePage: function(page){
            this.pagination.current_page = page;
            this.getDeleteProfiles(page);
        },


        getDeleteProfiles: function(page) {
            var urlProfile = this.url+'profilesListD?page='+page;
            axios.get(urlProfile).then(response => {
            
                this.profilesDelete = response.data.data,
                this.pagination = response.data.meta.pagination
                }).catch(function (error) {
                    console.log(error);
                });
        
        },

        restoreProfile: function(profile) {
            
            let urlRestore = this.url+'profilesRestoreD/'+ profile.identificador

            axios.get(urlRestore).then(response => {
                    this.getDeleteProfiles()
                    Swal.fire({
                      position: 'top-end',
                      icon: 'success',
                      title: 'El perfil ha sido restaurado',
                      showConfirmButton: false,
                      timer: 2000
                    })
            }).catch(function (error) {
                console.log(error);
                    Swal.fire({
                      icon: 'error',
                      title: 'Vaya ...',
                      text: '¡Algo salió mal!',
                      footer: 'Vuelva a intentarlo'
                    })
            });
              
            
        },
    }
}

</script>
