<template>
    <div class="container">
        <div class="row justify-content-center">
                <div class="card card-default">
                    <div class="card-header">Eliminados</div>

                    <div class="card-body">
                        <paises-eliminados></paises-eliminados>
                    </div>
                </div>
           
        </div>
    </div>
</template>