<template>
	<div class="container">
		<div class="row mt-5">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">
						<h3 class="card-title">Lista de articulos del Museo</h3>
						<div class="card-tools">
							<button class="btn btn-success" data-toggle="modal" data-target="#addNew" @click="openModalWindow">Agregar Nuevo <i class="fas fa-user-plus fa-fw"></i></button>

							<router-link :to="{name: 'usuarios-eliminados'}" class="btn btn-danger" data-toggle="modal">Eliminados <i class="fas fa-trash fa-fw"></i></router-link>
						</div>
					</div>
					<div class="card-body table-responsive p-0">
						<table class="table table-hover">
							<tbody>
								<tr>
									<th>Nombre</th>

								</tr>
								<tr v-for="articulo in articulos" :key="articulo.identificador">
									<td>{{ articulo.tituloEs }}</td>

									<td>
										<a href="#" data-id="user.identificador" @click="editModalWindow(user)">
											<i class="fa fa-edit blue"></i>
										</a>
										|
										<a href="#" @click="deleteUser(user)">
											<i class="fa fa-trash red"></i>
										</a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<nav>
						<ul class="nav nav-tabs">
							<li class="nav-item" v-if="pagination.current_page > 1">
								<a class="nav-link" href="#" @click.prevent="changePage(pagination.current_page - 1)">
									<span>Atras</span>
								</a>
							</li>

							<li class="nav-item" v-for="page in pagesNumber" v-bind:class="[ page == isActived ? 'active' : '']">
								<a class="nav-link" href="#" @click.prevent="changePage(page)">
									{{ page }}
								</a>
							</li>

							<li class="nav-item" v-if="pagination.current_page < pagination.total_pages">
								<a class="nav-link" href="#" @click.prevent="changePage(pagination.current_page + 1)">
									<span>Siguiente</span>
								</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
		<transition name="slide-fade" mode="out-in">
			<router-view :key="$route.fullPath"></router-view>
		</transition>
	</div>
</template>
<script>
	export default {
		props: ['auth'],
		data() {
			return {
				user:{},
				articulos: {},
				
				pagination: {
					'total': 0,
					'count': 0,
					'per_page': 0,
					'current_page': 0,
					'total_pages': 0,
				},
				lang:'es',
				url: process.env.MIX_APP_URL,
				urlImage: process.env.MIX_URL_IMAGE,
				offset: 2
			}
		},

		computed: {

			isActived: function (){
				return this.pagination.current_page;
			},
			pagesNumber: function(){
				if(!this.pagination.total_pages){
					return [];
				}
                //offset compensamos para que antes y despues haya la misma cantidad
                var from = this.pagination.current_page - this.offset;
                
                if (from < 1) {
                	from = 1;
                }

                var to = from + (this.offset * 2);

                if(to >= this.pagination.total_pages){
                	to = this.pagination.total_pages;
                }

                var pagesArray = [];
                while (from <= to ){
                	pagesArray.push(from);
                	from++;
                }

                return pagesArray;


            }

        },

        mounted() {
        	this.user = JSON.parse(this.auth);
        },

        methods: {

        	loadArticles: function(page) {
        		let idUser = this.user.identificador;
        		let endPoint = this.url+'articulos-entidades/'+idUser+'?page='+page;
        		alert(endPoint);
        		axios.get(endPoint).then(response => {
        			this.articulos = response.data.data,
        			this.pagination = response.data.meta.pagination
        		}).catch(function (error) {
                    // handle error
                    console.log(error);
                });
        	},


        	deleteUser(user) {
        		Swal.fire({
        			title: '¿ Estas seguro/a de elimanar a ' + user.apellido +' '+ user.nombre+ '?',
        			text: "Luego  podrá restaurarlo",
        			icon: 'warning',
        			showCancelButton: true,
        			confirmButtonColor: '#3085d6',
        			cancelButtonColor: '#d33',
        			cancelButtonText: "Cancelar",
        			confirmButtonText: '¡Sí, eliminar!'
        		}).then((result) => {

        			if (result.value) {
	              //Send Request to server
	              axios.delete(this.url+'users/'+user.identificador)
	              .then((response)=> {
	              	Swal.fire(
	              		'Eliminado!',
	              		'El usuario ' + user.apellido +' '+ user.nombre+ ' fue elimando con éxito',
	              		'success'
	              		)
	              	this.loadArticles();

	              }).catch(() => {
	              	Swal.fire({
	              		icon: 'error',
	              		title: 'Oops...',
	              		text: 'Something went wrong!',
	              		footer: '<a href>Why do I have this issue?</a>'
	              	})
	              })
	          }

	      })
        	},
        	changePage: function(page){
        		this.pagination.current_page = page;
        		this.loadArticles(page);
        	},

        },

        filters: {
        	moment: function (date) {
        		return moment(date).format('YYYY-MM-DD');
        	},
        },

        created() { 
        	this.loadArticles();

	        Fire.$on('AfterCreatedUserLoadIt',()=>{ //custom events fire on
	        	this.loadArticles();
	        });

	    }
	}
</script>