<template>
    <div class="container container-task">
        <div class="row">
            
            <div class="card bg-light col-md-4">
                <div class="card-header">Agregar Provincia</div>
            
                <div class="form-group"><!-- Formulario para la creación o modificación de nuestras tareas-->
                    <label>Localidad</label>
                    <input v-model="denominacion" type="text" class="form-control">
                    <span v-for="error in errors" class="text-danger">{{ error.denominacion }}</span>
                    <br>
                    <label>Pais</label>
                    <select class="custom-select" v-model="country" @change="getProvincias()">
                        <option v-if="country == null" :value="country" >Seleccione Pais</option>
                        <option v-for="data in countries" :value="data.id">{{ data.nombre }}</option>

                    </select>
                    <span v-for="error in errors" class="text-danger">{{ error.pais }}</span>

                    <label>Provincia</label>
                        <select class="custom-select" v-model="province">
                            <option v-if="localidad != ''" :value="localidad.provincia">{{localidad.nombrePro}}</option>
                            <option v-if="province != ''" :value="province">Seleccione Provincia</option>
                            <option v-for="province in provinces" :value="province.id">{{ province.nombre }}</option>
                        </select>

                </div>
                <div class="form-group">
                    <div class="container-buttons">
                        <!-- Botón que añade los datos del formulario, solo se muestra si la variable update es igual a 0-->
                        <button v-if="identificador == 0" @click="createLocalidad()" class="btn btn-success">Añadir</button>
                        <!-- Botón que modifica la tarea que anteriormente hemos seleccionado, solo se muestra si la variable update es diferente a 0-->
                        <button v-if="identificador != 0" @click="updateLocalidad()" class="btn btn-success">Actualizar</button>
                        <!-- Botón que limpia el formulario y inicializa la variable a 0, solo se muestra si la variable update es diferente a 0-->
                        <button v-if="identificador != 0" @click="clearFields()" class="btn btn-danger">Cancelar</button>
                    </div>
                </div>
            </div>

            <div class="card bg-light col-md-8">
                <div>
                    <router-link :to="{name: 'localidades-eliminadas'}" type="button" class="btn btn-primary float-right">Ver Eliminados</router-link>
                </div>
               
                <div class="card-header">Lista de Provincias</div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover table-striped table-bordered"><!--Creamos una tabla que mostrará todas las tareas-->
                                    <thead>
                                        <tr>
                                            <th scope="col">Localidad</th>
                                            <th scope="col">Provincia</th>
                                            <th scope="col">Pais</th>
                                            <th scope="col">Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="locality in localities" :key="locality.identificador"> <!--Recorremos el array y cargamos nuestra tabla-->
                                            <td v-text="locality.denominacion"></td>
                                            <td v-text="locality.nombrePro"></td>
                                            <td v-text="locality.nombrePais"></td>
                                            <td>
                                                <!--Botón modificar, que carga los datos del formulario con la tarea seleccionada-->
                                                <button class="btn btn-warning btn-sm" @click="loadFieldsUpdate(locality)">Modificar</button>
                                                
                                                <!--Botón que borra la tarea que seleccionemos-->
                                                <button class="btn btn-danger btn-sm" @click="deleteLocalidad(locality)">Borrar</button>
                                            </td>
                                        </tr>
                                    </tbody>
                            </table>
                        </div>
                        <nav>
                            <ul class="nav nav-tabs">
                                <li class="nav-item" v-if="pagination.current_page > 1">
                                    <a class="nav-link" href="#" @click.prevent="changePage(pagination.current_page - 1)">
                                        <span>Atras</span>
                                    </a>
                                </li>

                                <li class="nav-item" v-for="page in pagesNumber" v-bind:class="[ page == isActived ? 'active' : '']">
                                    <a class="nav-link" href="#" @click.prevent="changePage(page)">
                                        {{ page }}
                                    </a>
                                </li>

                                <li class="nav-item" v-if="pagination.current_page < pagination.total_pages">
                                    <a class="nav-link" href="#" @click.prevent="changePage(pagination.current_page + 1)">
                                        <span>Siguiente</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                </div>
            </div>
        </div>
        <transition name="slide-fade" mode="out-in">
			<router-view :key="$route.fullPath"></router-view>
		</transition>
    </div>
</template>
<script>
    export default {
        data(){
            return{
                country:null,
                countries: [],
                province: null,
                provinces: [],
                localidad:[],

                locality:null,
                localities: [],
                localitiesDelete:[],
                pagination: {
                'total': 0,
                'count': 0,
                'per_page': 0,
                'current_page': 0,
                'total_pages': 0,
                },
                denominacion:'',
                provincia:'',
                nombrePais:'',
                identificador:0, /*Esta variable contrarolará cuando es una nueva tarea o una modificación, si es 0 significará que no hemos seleccionado
                          ninguna tarea, pero si es diferente de 0 entonces tendrá el id de la tarea y no mostrará el boton guardar sino el modificar*/
                errors: [],
                url: process.env.MIX_APP_URL,
                offset: 2
            }
        },

        computed: {
            isActived: function (){
                return this.pagination.current_page;
            },
            pagesNumber: function(){
                if(!this.pagination.total_pages){
                    return [];
                }
                //offset compensamos para que antes y despues haya la misma cantidad
                var from = this.pagination.current_page - this.offset;
                
                if (from < 1) {
                    from = 1;
                }

                var to = from + (this.offset * 2);

                if(to >= this.pagination.total_pages){
                    to = this.pagination.total_pages;
                }

                var pagesArray = [];
                while (from <= to ){
                    pagesArray.push(from);
                    from++;
                }

                return pagesArray;


            }

        },

        methods:{

            getCountries: function() {
                var urlCountries = this.url+'list-countries';
                axios.get(urlCountries).then(response => {
                    this.countries = response.data.data;

                }).catch(function (error) {
                    // handle error
                    console.log(error);
                });
            },

            getProvincias: function() {
                var urlProvinces = this.url+'countries-provinces/'+this.country;
                axios.get(urlProvinces).then(response => {
                    this.provinces = response.data.data;

                }).catch(function (error) {
                    // handle error
                    console.log(error);
                });
            },

            getLocalidades: function(page) {
                var urlLocalities = this.url+'localities?page='+page;
                axios.get(urlLocalities).then(response => {
                    this.localities = response.data.data,
                    this.pagination = response.data.meta.pagination
                }).catch(function (error) {
                    // handle error
                    console.log(error);
                });
            },
            
            createLocalidad: function() {
                var urlCreate = this.url+'localities';

                axios.post(urlCreate, {
                    provincia: this.province,
                    denominacion: this.denominacion,

                }).then(response => {
                    this.getLocalidades();
                    this.country = null;
                    this.province = null;
                    this.denominacion = '';
                    this.errors = [];
                    Toast.fire({
                          icon: 'success',
                          title: 'Localidad registrada con exito'
                        }) 

                }).catch(error => {
                    this.errors = error.response.data;
                });

            },

            updateLocalidad(){/*Esta funcion, es igual que la anterior, solo que tambien envia la variable update que contiene el id de la
                tarea que queremos modificar*/
                let me = this;
                let urlUpdate = this.url+'localities/'+ this.identificador;
                axios.put(urlUpdate,{
                    'provincia':this.province,
                    'denominacion':this.denominacion,
                }).then(function (response) {
                    me.getLocalidades();//llamamos al metodo getTask(); para que refresque nuestro array y muestro los nuevos datos
                    me.clearFields();//Limpiamos los campos e inicializamos la variable update a 0
                    Toast.fire({
                          icon: 'success',
                          title: 'La localidad se actualizo con exito'
                        }) 
                })
                .catch(error => {
                    this.errors = error.response.data;
                    toastr.error("Verifique sus datos.", "Error");
                });
            },
            
            loadFieldsUpdate(locality){ //Esta función rellena los campos y la variable update, con la tarea que queremos modificar
                this.identificador = locality.identificador
                
                let me =this;
                let urlClear = this.url+'localities/'+ this.identificador;
                axios.get(urlClear).then(function (response) {
                    me.denominacion = response.data.data.denominacion;
                    me.country= response.data.data.pais;
                    me.province= response.data.data.provincia;
                    me.localidad = response.data.data;                  
                })
                .catch(function (error) {
                    // handle error
                    console.log(error);
                }); 
            },

            deleteLocalidad(locality){//Esta nos abrirá un alert de javascript y si aceptamos borrará la tarea que hemos elegido
                let me =this;
                let id = locality.identificador
                let urlDelete = this.url + 'localities/'+id;
                if (confirm('¿Seguro que deseas borrar esta localidad?')) {
                    axios.delete(urlDelete).then(function (response) {
                        me.getLocalidades();
                        Toast.fire({
                          icon: 'error',
                          title: 'La localidad fue eliminada correctamente'
                        })                    })
                    .catch(function (error) {
                        console.log(error);
                    }); 
                }
            },

            changePage: function(page){
                this.pagination.current_page = page;
                this.getLocalidades(page);
            },

            clearFields(){/*Limpia los campos e inicializa la variable update a 0*/
                this.denominacion = "";
                this.identificador = 0;
                this.country =null;
                this.province =null;
                this.localidad=[];
            }
        },
        mounted() {
           this.getLocalidades()
           this.getCountries()
        }
    }
</script>