<template>
	<div>
			
		<router-link :to="{name: 'articulos'}" type="button" class="btn btn-info">Artículos del museo</router-link>
		
		<transition name="slide-fade" mode="out-in">
			<router-view :key="$route.fullPath"></router-view>
		</transition>
	</div>
</template>