<template>
	<div>
		<router-link :to="{name: 'usuarios-admin'}" type="button" class="btn btn-info">Usuarios</router-link>
		
		<transition name="slide-fade" mode="out-in">
			<router-view :key="$route.fullPath"></router-view>
		</transition>
	</div>
</template>