<template>
	<div>
			
		<router-link :to="{name: 'entidades'}" type="button" class="btn btn-info">Museos</router-link>
		<router-link :to="{name: 'entidades-create'}" type="button" class="btn btn-success"">Agregar Museo</router-link>
		
		<transition name="slide-fade" mode="out-in">
			<router-view :key="$route.fullPath"></router-view>
		</transition>
	</div>
</template>