<template>
	<div>
			
			
		<router-link :to="{name: 'paises'}" type="button" class="btn btn-info" >Paises</router-link>
			 
		<router-link :to="{name: 'provincias'}" type="button" class="btn btn-info" >Provincias</router-link>
				
		<router-link :to="{name: 'localidades'}" type="button" class="btn btn-info" >Localidades</router-link>
				
		    
		<transition name="slide-fade" mode="out-in">
			<router-view :key="$route.fullPath"></router-view>
		</transition>
	</div>
</template>