<template>
    <div class="container">
        <div class="row justify-content-center">
                <div class="card card-default">
                    <div class="card-header">Provincias Eliminadas</div>

                    <div class="card-body">
                        <provincias-eliminadas></provincias-eliminadas>
                    </div>
                </div>
           
        </div>
    </div>
</template>