<template>
    <div class="container">
        <div class="row justify-content-center">
                <div class="card card-default">
                    <div class="card-header">Provincias</div>

                    <div class="card-body">
                        <provincias-component></provincias-component>
                    </div>
                </div>
           
        </div>
    </div>
</template>