<template>
    <div class="container">
        <div class="row justify-content-center">
                <div class="card card-default">
                    <div class="card-header">Localidades Eliminadas</div>

                    <div class="card-body">
                        <localidades-eliminadas></localidades-eliminadas>
                    </div>
                </div>
           
        </div>
    </div>
</template>