<template>
   
         <div class="card card-default">
            <div class="card-header">Categorias Eliminadas</div>

            <div class="card-body">
                <categorias-eliminadas></categorias-eliminadas>
            </div>
        </div>
           
</template>